<!DOCTYPE html>
<html lang="en-CA" class="light dark">
	<head>
                {{#block "head"}}
                        
                {{/block}}
                

	</head>
	<body>
		<header>
                        {{#block "header"}}
                                
                        {{/block}}
			
		</header>
		<div class="spacerHeader noPadding"></div>
		<main class="pageContainer noPadding">
                        {{#block "main"}}
			
                        {{/block}}
		</main>
		<div class="spacerFooter noPadding"></div>
		<footer>
                        {{#block "footer"}}
			        
                        {{/block}}
		</footer>
	</body>
</html>
