<div id="pfpNameAndAboutMe" class="container rowFloatLeft noPadding">
        {{> layout_cards_about about=section.data.about assetsUrl=../assetsUrl artist=false}}
        {{> layout_cards_bio lines=section.data.bio assetsUrl=../assetsUrl}}
</div>