<div class="footer">
<center>This page was built from scratch by <a class="madeBy" href="https://github.com/lilysoftpaw">Lily</a>, excepted icons (<a class="copyrightPageLink" href="/copyrights/">Copyrights</a>)</center>
</div>