<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Lily's About me / Bio / Pronouns page -->
<title>{{data.global.username}}'s {{title}}</title>
<script type="text/javascript" src="/static/js/themeController.js"></script>
<link rel="stylesheet" href="/static/css/themeSettings.css" />
<link rel="stylesheet" href="/static/css/theme.css" />
                       		
<!-- testing something -->
{{> layout_embeds_discord embedData=data.global.head.embeds.discord}}
{{> layout_embeds_twitter embedData=data.global.head.embeds.twitter}}
{{> layout_googleAnalytics googleAnalyticsTag=data.global.head.googleAnalyticsTag}}
<meta name="msapplication-navbutton-color" content="#8c05c1" />