<!DOCTYPE html>
<html lang="en-CA" class="light dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Lily's About me / Bio / Pronouns page</title>
		<!--<meta type="partial" name="DiscordEmbed"></meta>
		<meta type="partial" name="TwitterCard"></meta>
		 Discord Embed-->
		<!--<meta name="color-scheme" content="light dark" />
		<meta content="Lily's About me / Bio / Pronouns page" property="og:title" />
		<meta content="Hehe Hello UwU!! I exist UwU!! I Shy Cat furry UwU!!" property="og:description" />
		<meta content="https://aboutme.lilysoftpaw.com" property="og:url" />
		<meta content="https://aboutme.lilysoftpaw.com/assets/user_picture.png" property="og:image" />
		<meta content="#8c05c1" data-react-helmet="true" name="theme-color" />-->
		<!-- Twitter Card -->
		
		<!--<meta name="twitter:card" content="summary" />
			<meta name="twitter:site" content="@lilysoftpaw" />-->
		<!-- Google analytics tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-XXPCL2D1Q3"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

  			gtag('config', 'G-XXPCL2D1Q3');
		</script>		
		<!-- testing something -->
		<meta name="msapplication-navbutton-color" content="#8c05c1" />
		<!-- The style sheet -->
		<link rel="stylesheet" href="./static/css/themeSettings.css" />
		<link rel="stylesheet" href="./static/css/theme.css" />
		<!-- Theme Control -->
		<script type="text/javascript" src="./static/js/themeController.js"></script>
		<!--the site lol-->
		{discordEmbed}
		{twitterEmbed}

	</head>
	<body>
		<header>
			<div class="header">
				<center><div class="pageHeader">Lily's About me / Bio / Pronouns page</div></center>
				<div horizontal class="ThemeButton buttonStyle noPadding"><button class="buttonStyle" type="button" onclick="SwitchThemes();">Change Theme</button></div>
				<div vertical class="ThemeButton buttonStyle noPadding"><button class="buttonStyle" type="button" onclick="SwitchThemes();">C.T.</button></div>
			</div>
		</header>
		<div class="spacerHeader noPadding"></div>
		<main class="pageContainer noPadding">
			<center>
				<div class="container column">
					{sections}
					<!--<div id="links" class="BoxStyle rowContainer">
						<div class="container row">
							<h2 class="sectionTitle">Social Links</h2>
						</div>
						<div id="linksContainerRow" class="container row">
							<div class="sectionFlexWrap linksContainer">
							<!--</div>
						</div>
					</div>-->
					<div id="basicInfo" class="BoxStyle rowContainer">
						<div class="container row">
							<div class="section noPadding sectionFlexWrap infoContainerParent" style="--colum-count: 3">
								{infoCards1}
							</div>
						</div>
					</div>
					<div id="LikesDislikesHobbies" class="BoxStyle rowContainer">
						<div class="container row">
							<div class="section noPadding sectionFlexWrap">
								{infoCards2}
								<!--<div class="subContainer BoxStyle">
									<div class="section noPadding">
										<h3 class="sectionTitle">Hobbies</h3>
										<ul>
											<li><p>Video games</p></li>
											<li><p>Being a dum dum</p></li>
											<li><p>Wasting my time</p></li>
											<li><p>Watching Twitch Streams (Vtubers)</p></li>
											<li><p>Coding random stuff</p></li>
										</ul>
									</div>
								</div>
								<div class="subContainer BoxStyle">
									<div class="section noPadding">
										<h3 class="sectionTitle">Likes</h3>
										<ul>
											<li><p>Ducks</p></li>
											<li><p>Minecraft</p></li>
											<li><p>Programming</p></li>
											<li><p>Computers</p></li>
											<li><p>Getting headpats</p></li>
										</ul>
									</div>
								</div>
								<div class="subContainer BoxStyle">
									<div class="section noPadding">
										<h3 class="sectionTitle">Dislikes</h3>
										<ul>
											<li><p>Fruits</p></li>
											<li><p>Vegetables</p></li>
											<li><p>Twitter artists begging for commissions</p></li>
										</ul>
									</div>
								</div>
								<!--<div class="subContainer subContainerStyle"> <p>an empty box</p>bruh </div>-->
							</div>
						</div>
					</div>
					<!--
                    <div id="WhatsCloseted" class="BoxStyle rowContainer">
                        <div class="container row">
                            <div class="subContainer">
                                <div class="section noPadding">
                                    <h3 class="sectionTitle">What does "Closeted" Trans mean?</h3>
                                    <p>It's the same thing as closet weeb. It simply means that I will not show that I am trans in public (Or outside of my room / closet) because I am really shy about what others think about me even tho it looks like I don't care. Outside my room / closet (this excludes the internet), I will appear as my birth gender with my birth name and everything that goes along with it. I'm also worried about what my parents might think about this, and this is an other reason for I'm closeted.<br /></p>
                                    <h4 class="sectionTitle">How to refer to me IRL? (If you know me IRL)</h4>
                                    <p>If you know me IRL, since I'm currently decloseting, refer to me as a She/her and use my Chosen name unless I told you to do otherwise OR I didn't come out to you and you read this page</p>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>-->
				</div>
			</center>
		</main>
		<div class="spacerFooter noPadding"></div>
		<footer>
			<div class="footer">
				<center>This page was built from scratch by <a class="madeBy" href="https://github.com/lilysoftpaw">Lily</a>, excepted icons (<a class="copyrightPageLink" href="./copyrights">Copyrights</a>)</center>
			</div>
		</footer>
	</body>
</html>
