/*
theme settings in theme_settings.css
*/
@media (prefers-color-scheme: dark) {
    html.dark {
        --background-color-page: var(--dark-background-color-page);
        --background-image-horizontal: var(--dark-background-image-horizontal);
        --background-image-vertical: var(--dark-background-image-horizontal);
        --background-color:  var(--dark-background-color);
        --background-color-hover : var(--dark-background-color-hover);
        --button-color:  var(--dark-button-color);
        --button-color-hover:  var(--dark-button-color-hover);
        --border-color: var(--dark-border-color);
        --text-color: var(--dark-text-color);

        --button-color-opposite-theme: var(--light-button-color);
        --text-color-opposite-theme: var(--light-text-color);
        --border-color-opposite-theme: var(--light-border-color);
    }
  }
  
  @media (prefers-color-scheme: light) {
    html.light {
        
        --background-color-page: var(--light-background-color-page);
        --background-image-horizontal: var(--light-background-image-horizontal);
        --background-image-vertical: var(--light-background-image-horizontal);
        --background-color:  var(--light-background-color);
        --background-color-hover : var(--light-background-color-hover);
        --button-color:  var(--light-button-color);
        --button-color-hover:  var(--light-button-color-hover);
        --border-color: var(--light-border-color);
        --text-color: var(--light-text-color);

        --button-color-opposite-theme: var(--dark-button-color);
        --text-color-opposite-theme: var(--dark-text-color);
        --border-color-opposite-theme: var(--dark-border-color);
    }
  }

html.darkForce {
    --background-color-page: var(--dark-background-color-page) !important;
    --background-image-horizontal: var(--dark-background-image-horizontal) !important;
    --background-image-vertical: var(--dark-background-image-horizontal) !important;
    --background-color:  var(--dark-background-color) !important;
    --background-color-hover : var(--dark-background-color-hover) !important;
    --button-color:  var(--dark-button-color) !important;
    --button-color-hover:  var(--dark-button-color-hover) !important;
    --border-color: var(--dark-border-color) !important;
    --text-color: var(--dark-text-color) !important;


    --button-color-opposite-theme: var(--light-button-color) !important;
    --text-color-opposite-theme: var(--light-text-color) !important;
    --border-color-opposite-theme: var(--light-border-color) !important;
}
html.lightForce {
    --background-color-page: var(--light-background-color-page) !important;
    --background-image-horizontal: var(--light-background-image-horizontal) !important;
    --background-image-vertical: var(--light-background-image-horizontal) !important;
    --background-color:  var(--light-background-color) !important;
    --background-color-hover : var(--light-background-color-hover) !important;
    --button-color:  var(--light-button-color) !important;
    --button-color-hover:  var(--light-button-color-hover) !important;
    --border-color: var(--light-border-color) !important;
    --text-color: var(--light-text-color) !important;

    --button-color-opposite-theme: var(--dark-button-color) !important;
    --text-color-opposite-theme: var(--dark-text-color) !important;
    --border-color-opposite-theme: var(--dark-border-color) !important;
}

:root {
    --link-columns-count: 4;
    --projects-columns-count: 2;
    --marginTopBottom: 0px;
    --marginLeftRight: var(--margin-column-spaceing);
    --font-size-a: var(--font-size-base);
    --font-size-p: var(--font-size-base);
    --font-size-h6: calc(var(--font-size-p) + var(--font-size-increment));
    --font-size-h5: calc(var(--font-size-h6) + var(--font-size-increment));
    --font-size-h4: calc(var(--font-size-h5) + var(--font-size-increment));
    --font-size-h3: calc(var(--font-size-h4) + var(--font-size-increment));
    --font-size-h2: calc(var(--font-size-h3) + var(--font-size-increment));
    --font-size-h1: calc(var(--font-size-h2) + var(--font-size-increment));
    /**/
    /*var()*/
}
* {
    font-family: var(--page-font-family);
}
html, body 
{ 
 overflow-x: hidden
}
::-webkit-scrollbar {
    display:block;
    z-index: 5;
    position: fixed;
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
}
::-webkit-scrollbar-track {
    top: var(--header-size);
    height: calc(100vh - var(--header-size) - var(--footer-size) - (2* var(--border-width)));
    border-color: transparent;
    background-color: var(--button-color);
    border: var(--border-width) solid transparent;
}
::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: var(--border-color);
    min-height: 40px;
}
.copyrightsContainer,
.linksContainer {
	--colum-count: 4;
}
@media screen and (max-width: 950px)  {
	.copyrightsContainer,
	.linksContainer {
		--colum-count: 3 !important;
	}
}
.buttonStyle{
    height: var(--header-size);
    --buttonHeightParent: var(--header-size);
    --buttonSpacingParent: var(--buttonSpacing);
    color: var(--text-color);
    pointer-events: auto;
    /*left: var(--buttonSpacingParent);
    top: var(--buttonSpacingParent);*/
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.buttonStyle button{
    background-color: var(--button-color);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-color: var(--border-color);
    color: inherit;
    height: calc(var(--buttonHeightParent) - (var(--buttonSpacingParent)*2));
    pointer-events: inherit;
    
}
.footer a {
	pointer-events: all;
}

.buttonStyle button[horizontal] {
    width: max-content;
    width: calc(var(--buttonHeightParent)*3);
}
.buttonStyle button[vertical] {
    width: calc(var(--buttonHeightParent));
}
.buttonStyle button:hover
{
    color: var(--text-color-opposite-theme);
    background-color: var(--button-color-opposite-theme);
    border-color: var(--border-color-opposite-theme);
}
.GoBackButton{
    position: fixed;
    top: 0px;
    left: var(--buttonSpacingParent);
}
.ThemeButton {
    position: fixed;
    top: 0px;
    right: var(--buttonSpacingParent);
}
/*
.themeButton#horizontalThemeButton, .themeButton#horizontalThemeButton button {
    width: calc(var(--header-size)*3);
}
.themeButton#verticalThemeButton, .themeButton#verticalThemeButton button {
    width: calc(var(--header-size));
}
.themeButton, .themeButton button{
    right: 0px;
    top: 0px;
    position: fixed;
}
.themeButton button {
    
    
    position: fixed;
}
.headerButton:hover,
.themeButton:hover button {
    background-color: var(--button-color-opposite-theme);
    border-color: var(--border-color-opposite-theme);
    color: var(--text-color-opposite-theme);
}*/

/*
.headerButton {
    pointer-events: auto;
    height: calc(var(--header-size) - (var(--buttonSpacing)*2));
    background-color: var(--button-color);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-color: var(--border-color);
    color: var(--text-color);
}
.headerButton a {
    color: inherit;
}*/
h1,h2,h3,h4,h5,h6,a,p,div {
    color: var(--text-color);
}

h1{
    font-size: calc(var(--font-size-h1) * var(--scale));
}
h2{
    font-size: calc(var(--font-size-h2) * var(--scale));
}
h3{
    font-size: calc(var(--font-size-h3) * var(--scale));
}
h4{
    font-size: calc(var(--font-size-h4) * var(--scale));
}
h5{
    font-size: calc(var(--font-size-h5) * var(--scale));
}
h6 {
    font-size: calc(var(--font-size-h6) * var(--scale));
}
p{
    font-size: calc(var(--font-size-p) * var(--scale));
}
a{
    font-size: calc(var(--font-size-a) * var(--scale));
}
::marker {
    size: calc(var(--font-size-a) * var(--scale));
    font-size: calc(var(--font-size-a) * var(--scale));
}
*[vertical] {
    opacity: 0;
    pointer-events: none;
}
*[horizontal] {
    opacity: 1;
    pointer-events: all;
}
.sectionTitle {
    margin-top: .25em;
    margin-bottom: .25em;
}
.projectsContainer {
	--colum-count: var(--projects-columns-count) !important
}
@media screen and (max-width: 6500px) {
	.sectionFlexWrap{
        --colum-count: 13 !important;
    }
}
@media screen and (max-width: 6000px) {
	.sectionFlexWrap{
        --colum-count: 12 !important;
    }
}
@media screen and (max-width: 5500px) {
	.sectionFlexWrap{
        --colum-count: 11 !important;
    }
}
@media screen and (max-width: 5000px) {
	.sectionFlexWrap{
        --colum-count: 10 !important;
    }
}
@media screen and (max-width: 4500px) {
	.sectionFlexWrap{
        --colum-count: 9 !important;
    }
}
@media screen and (max-width: 4000px) {
	.sectionFlexWrap{
        --colum-count: 8 !important;
    }
}
@media screen and (max-width: 3500px) {
	.sectionFlexWrap{
        --colum-count: 7 !important;
    }
}
@media screen and (max-width: 3000px) {
	.sectionFlexWrap{
        --colum-count: 6 !important;
    }
}
@media screen and (max-width: 2500px) {
	.sectionFlexWrap{
        --colum-count: 5 !important;
    }
}
@media screen and (max-width: 2000px) {
	.sectionFlexWrap{
        --colum-count: 4 !important;
    }
}
@media screen and (max-width: 1500px) {
	.sectionFlexWrap{
        --colum-count: 3 !important;
    }
}
@media screen and (max-width: 1100px) {
	.sectionFlexWrap{
        --colum-count: 2 !important;
    }
	.profilePicAndName {
        width: calc(100%) !important;
    }
    .rowFloatLeft {
        flex-direction: column;
    }
	:root {
		--marginLeftRight: 0px;
	}
}
@media screen and (orientation: portrait) and (max-width: 700px) {

    /*Vertical Detection. Is also used for when on a phone.*/
    .row {
        flex-direction: column;
    }
    .profilePicAndName {
        width: calc(100%) !important;
    }
    .rowFloatLeft {
        flex-direction: column;
    }
    /*:root {
        --scale: var(--scale-vertical);
        --marginTopBottom: var(--margin-column-spaceing);
        --marginLeftRight: 0px;
        --link-columns-count: 1;
        --projects-columns-count: 1;
    }*/
	:root {
		--marginLeftRight: 0px;
	}
    body {
        background-image: var(--background-image-vertical) !important;
    }
    .sectionFlexWrap{
        --colum-count: 1 !important;
    }
    *[vertical]  {
        opacity: 1;
        pointer-events: all;
    }
    *[horizontal] {
        opacity: 0;
        pointer-events: none;
    }
    :root{
        --header-size: 75px;
        --footer-size: 75px;
        --buttonSpacing: 5px;
        --button-height: calc(var(--header-size) - (var(--buttonSpacing)*2)); 
    }
    /*
    .themeButton#verticalThemeButton, .themeButton#verticalThemeButton button {
        width: var(--button-height);
        height: var(--button-height);
    }*/
    header>div>center{
        width: calc(100% - var(--button-height));
    }
}




.profilePicAndName {
    width: max-content;
    font-family: var(--page-font-family);
    border-color: var(--border-color);
    border-width: var(--border-width);
    background-color: transparent;
    box-sizing: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
}
.rowContainer{
    margin-bottom: var(--margin-column-spaceing);
}

.profilePicAndName>center {
    background-color: transparent;
    box-sizing: content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media only screen and (orientation: landscape) and (max-width: 800px){
    .profilePicAndName {
        width: -webkit-fill-available !important;
        width: -moz-available !important;
    }
    .profilePicAndName>center {
        flex-direction: column;
    }
    .aboutMe>center>div,   
    .aboutMe {
        margin-left: 0px;
        padding-left: 0px;
    }
    #pfpNameAndAboutMe {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sectionFlexWrap {
        --colum-count: 2 !important;
    }
    :root {
        --marginTopBottom: var(--margin-column-spaceing);
        --link-columns-count: 2;
        --scale: .6;
    }
    #verticalThemeButton {
        opacity: 1;
        pointer-events: all;
    }
    #horizontalThemeButton {
        opacity: 0;
        pointer-events: none;
    }
    :root{
        --header-size: 60px;
        --footer-size: 60px;
        --buttonSpacing: 5px;
        --button-height: calc(var(--header-size) - (var(--buttonSpacing)*2)); 
    }
    .buttonStyle[vertical] button {
        width: var(--button-height);
        height: var(--button-height);
    }
    header>div>center{
        width: calc(100% - var(--button-height));
    }
}

.pfpText h1, .pfpText h2, .pfpText h3, .pfpText h4, .pfpText h5, .pfpText h6 {
    display: flex;
    width: max-content;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    vertical-align: middle;
    height: max-content;
    white-space: nowrap;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.profilePicutre {
    width: auto;
    padding-top: 5px;
    height: calc(100px * var(--scale));
    border-radius: 50%;
}
.nowrap {
    white-space: nowrap;
}
.textAlignCenter {
    text-align: center;
}
.textAlignLeft {
    text-align: start;
}

.pageHeader {
    margin: 0px;
    color: var(--text-color);
    font-family: var(--page-font-family);
}

body {
    background-color: var(--background-color-page);
    background-image: var(--background-image-horizontal);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    opacity: 1 !important;
}
.pageContainer {
    width: 100vw
}

.padding,
div:not(.noPadding) {
    padding: 10px;
}

div:not(.pageContainer):not(.link):not(.spacerHeader):not(.spacerFooter) {
    box-sizing: border-box;
    overflow: visible;
}

/*            div:not(.pageContainer):not(.link):not(.row):not(.footer):not(.header):not(.spacerHeader):not(.spacerFooter) */
.BoxStyle {
    background-color: var(--background-color);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-style: solid;
}
div.ContainerStyle{
    margin-bottom: var(--margin-column-spaceing);
}

div.profilePicAndName {
    margin-bottom: var(--margin-column-spaceing);
}

.Links {
    width: 100%;
    height: auto;
}

.container {
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.container.row:first-child {
    border-bottom-width: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.container.row:last-child {
    border-top-width: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.row {
    width: 100%;
}

.rowFloatLeft {
    width: 100%;
    justify-content: flex-start;
    padding: 0px;
}

.column {
    width: calc(100vw - 4vw);
    flex-direction: column;
}

.link {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 100%;
    width: 100%;
}

.subContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: var(--marginTopBottom);
    margin-bottom: var(--marginTopBottom);
    margin-left: var(--marginLeftRight);
    margin-right: var(--marginLeftRight);
}

/*.subContainerStyle {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--page-font-family);
    border-color: var(--border-color);
    border-width: var(--border-width);
}*/
.subContainer.BoxStyle:has(div.link a:hover) {
    background-color: var(--background-color-hover);
}
.subContainer.BoxStyle:not(:has(div.link)) * {
    pointer-events: none;
}

.link>center>a {
    white-space: nowrap;
    margin: center;
    /*font-size: calc(20px * var(--scale));*/
    text-decoration: none;
    vertical-align: middle;
    height: calc(var(--linkNameSize) * var(--scale));
}
.link{
    --linkNameSize: 30px;
    --linkNameScale: 1;
    --linkIconSecondScale: 1.25;
    --linkIconSize: calc(var(--linkNameSize) * var(--linkIconSecondScale));
}
.copyrightName > .siteName,
.linkName{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    white-space: nowrap;
    box-sizing: border-box;
    /*font-size: calc(var(--linkNameSize) * var(--scale));*/
    text-decoration: none;
    vertical-align: middle;
    /*height: calc(var(--linkNameSize) * var(--scale));*/
}
.copyrightName > .siteName p,
.copyrightName > .siteName h1,
.copyrightName > .siteName h2,
.copyrightName > .siteName h3,
.copyrightName > .siteName h4,
.copyrightName > .siteName h5,
.linkName p, 
.linkName h5, 
.linkName h4, 
.linkName h3, 
.linkName h2, 
.linkName h1{
    margin-top: 0px;
    margin-bottom: 0px;
    /*font-size: calc(var(--linkNameSize) * var(--scale));**/
	/*text-wrap: nowrap;*/
	white-space: wrap;
    margin-left: calc(5px * var(--scale));
    /*margin-right: calc(5px * var(--scale));*/
}
.iconTaken img.linkIcon,
.linkName img.linkIcon {
    vertical-align: middle;
    /*padding-bottom: 5px;*/
    margin-right: 10px;
    transform: scale(var(--scale));
    height: var(--linkIconSize);
    width: var(--linkIconSize);
}
.copyrightName .siteName svg.linkArrow,
.linkName svg.linkArrow {
    vertical-align: middle;
    /*padding-bottom: 5px;*/
    margin-left: 5px;
    transform: scale(var(--scale));
    height: var(--linkIconSize);
	overflow: visible;
}
.copyrightName h6 {
	white-space: pre-wrap;
	margin-top: 5px;
    margin-bottom: 5px;
}
.copyrightName .siteName svg.linkArrow,
.linkDescription svg.linkArrow,
.linkName svg.linkArrow {
    width: calc(var(--linkNameSize) * var(--scale));
    height: calc(var(--linkNameSize) * var(--scale));
    fill: var(--text-color);
    transform: rotate(45deg);
}
.linkDescriptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*white-space: break-spaces;*/
    white-space: pre-wrap;
    height: 100%;
}
.linkDescriptionTitle {
    white-space: pre-wrap;
    margin-top: 5px;
    margin-bottom: 5px;
}
.linkDescriptionText {
    margin-top: 5px;
    margin-bottom: 5px;

    white-space: pre-wrap;
}



footer {
    --size: var(--footer-size);
    bottom: 0px;
}

header {
    --size: var(--header-size);
    top: 0px;
}

header,
footer {
    position: fixed;
    height: calc(var(--size));
    width: 100vw;
}

div.footer,
div.header {
    font-size: var(--font-size-base);
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    border-color: var(--border-color);
    border-radius: 0px;
    border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
}

div.header, div.footer{
    pointer-events: none;
}

div.header {
    border-bottom-width: 2px;
}

div.footer {
    border-top-width: 2px;
}

/*div.footer,*/
a.madeBy {
    color: var(--text-color);
    font-family: var(--page-font-family);
    text-decoration: none;
    font-size: inherit;
}

div.spacerHeader,
div.spacerFooter {
    pointer-events: none;
    width: 100vw;
    opacity: 0;
}

div.spacerHeader {
    height: calc(var(--header-size) + 10px);
}

div.spacerFooter {
    height: calc(var(--footer-size) + 10px);
}


.section {
    top: 0px;
    width: 100%;
    height: 100%;
}
.sectionTitle{
    top: 0px;
}

/*.section>h5 {
    font-family: var(--page-font-family);
    color: var(--text-color);
    padding-left: 15px;
    font-size: calc(30px * var(--scale));
    text-align: start;
}*/

.section h1,
.section h2,
.section h3,
.section h4,
.section h5, 
.section h6 {
    font-family: var(--page-font-family);
    color: var(--text-color);
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin: 5px 0px;
}

.section li {
    font-size: calc(var(--font-size-base) * var(--scale));
}

.section p {
    padding-left: 15px;
    padding-right: 15px;
    /*font-size: calc(20px * var(--scale));*/
    text-align: justify;
}
.aboutMe {
    padding-left: 15px;
    padding-right: 15px;
    /*font-size: calc(20px * var(--scale));*/
    text-align: justify;
}

div.aboutMe {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    width: -webkit-fill-available;
}

.aboutMe div {
    margin-left: var(--marginLeftRight);
    width: calc(100% - var(--marginLeftRight));
}

.SocialLinksTitle>.section>h4 {
    margin-top: var(--margin-column-spaceing);
    margin-bottom: var(--margin-column-spaceing);
}

.fillAvailableSpace {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}
#discordLogo {
    border-radius: 50%;
    background-color: #5865f2;
    padding-bottom: 0px !important;
    margin-right: 5px;
}
.sectionFlexWrap{
    /*--colum-count: 3;*/
    --FlexSub-marginSize: calc(var(--margin-column-spaceing) / 2);
}
.sectionFlexWrap>div,
.infoSubcontainer {
    --InfoTitleMargin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    white-space: nowrap;
    box-sizing: border-box;
    text-decoration: none;
    vertical-align: middle;
    box-sizing: border-box;
    height: auto;
	--num-of-columns: min(var(--colum-count), var(--max-columns,1000));
    width: calc((100% / var(--num-of-columns)) - var(--margin-column-spaceing));
}
.sectionFlexWrap>div,
.infoSubcontainer 
{
    margin: var(--FlexSub-marginSize)
}
.infoSubcontainer p, 
.infoSubcontainer h6, 
.infoSubcontainer h5, 
.infoSubcontainer h4, 
.infoSubcontainer h3, 
.infoSubcontainer h2, 
.infoSubcontainer h1{
    margin-top: var(--InfoTitleMargin);
    margin-bottom: var(--InfoTitleMargin);
    /*font-size: calc(var(--linkNameSize) * var(--scale));*/
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
.sectionFlexWrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.aboutMe > center,
.aboutMe > center > div
 {
    height: 100%;
}
.copyrightsTitle {
	width: 100%;
}
.copyrightsTitleContainer {
	flex-direction: column;
}
.section li p {
	white-space: wrap;
}
.projectsContainer .link .linkName p {
	white-space: nowrap;
	/*font-size: 0.5em !important;*/
}
div#LikesDislikesHobbies > .container > .section {
	--colum-count: 3;
}
#basicInfo {
	--max-columns: 3;
}
#LikesDislikesHobbies {
	--max-columns: 3;
}
body {
	z-index: 0;
}
.rowContainer {
	z-index: 1;
}
.container{
	z-index: 2;
}
.sectionFlexWrap,
.section {
	z-index: 3;
}
.subContainer *,
.subContainer {
	z-index: 4 !important;
}
footer,
header {
 z-index: 100;
}