    <div class="aboutMe fillAvailableSpace noPadding">
        <center class="fillAvailableSpace">
            <div class="subContainer BoxStyle noPadding">
                <div class="section">
                    <h2 class="aboutMe">About me</h2>
                    <p class="aboutMe">
                        {{#each lines}}
                            {{this}}<br/>
                        {{/each}}
                    </p>
                </div>
            </div>
        </center>
    </div>